body {
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
}
.borde{
    border: 1px solid black;
    padding: 15px;
}
#cabecera {
    text-align: center;
}
#menu {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;
    justify-content: space-around;
    align-items: stretch;
}
#menu a {
    /* display: inline-block; */
    background: rgb(179, 187, 196);
    color: black;
    padding: 10px 20px 10px 20px;
    margin: 8px;
    text-decoration: none;
    line-height: normal;
    width:15%;
    border-radius: 5px;
}
#menu a:hover{
    color: azure;
    background: rgb(7, 167, 167);
}
#menu a:active {
    color: rgb(14, 0, 27);
}
#menu .menu-activo {
    background-color:  rgb(7, 167, 167);/* !important */
}
#sec-quiensoy {
    display: flex;
}
#soydg {
    margin-bottom: 1%;
}
#p-justify {
    text-align: justify;
}
#line {
    background-color: black;
    width: 280px;
    height: 3px;
    border-radius: 50%;
    transform: rotate(1deg);
    margin-left: 0px;
}
#dedicacion {
    color: aliceblue;
    background-color: steelblue;
    text-align: center;
}
#line-dedicacion {
    background-color: black;
    width: 280px;
    height: 3px;
    border-radius: 50%;
    transform: rotate(1deg);
}
#como-ayudar{
    text-align: center;
}
#como-ayudar #servicios {
    display: flex;
    justify-content: space-between;
}
#como-ayudar #servicios .espacio {
    margin-left: 30px;
}
#como-ayudar #servicios article {
    background-color: chocolate;
    color: aliceblue;
    border: cornflowerblue;
}
#como-ayudar .boton-ver{
    background-color: white;
    border: 1px solid black;
    color: chocolate;
    padding: 5px;
    box-shadow: 3px 5px 5px 0px rgba(0,0,0,0.75);
    cursor: pointer;
}
#como-ayudar .boton-ver{
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    color: #4890cb;
}
#sec_contenedor_lg{
    width: 90%;
    height: 500px;
    background-color: chocolate;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.cnt_img_lg{
    background: gray;
    width: 100px;
    height: 50px;
    color: aliceblue;
    padding: 20px;
    font-size: 40px;
    text-align: center;
    flex-grow: 1;
    flex: 1 1 auto;
}
#empleados {
    text-align: center;
}

@media only screen and (max-width: 100px) {
    body {
      background-color: red;
    }
  }